<?xml version="1.0"?>
<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <productslider>
            <general>
                <enabled>1</enabled>
            </general>
            <slider_design>
                <responsive>0</responsive>
                <loop>1</loop>
                <margin>10</margin>
                <autoWidth>0</autoWidth>
                <nav>0</nav>
                <dots>0</dots>
                <lazyLoad>1</lazyLoad>
                <autoplay>0</autoplay>
                <autoplay_timeout>2000</autoplay_timeout>
                <autoplay_hoverPause>0</autoplay_hoverPause>
            </slider_design>
        </productslider>
    </default>
</config>
